div {
	border:0 0 0 0;
	left:0px;
	font-family:sans-serif;
	/*border-bottom:solid #808020 2px;*/
	/*border-bottom:solid rgb(0,48,96) 2px;*/
	overflow:clip;
}

body {
	margin:0 0 0 0;
	padding:0 0 0 0;
	border:0 0 0 0;
	top: 0;
	left: 0;
	width: 100%;
	background-image:url('pics/sun-rays.jpg');
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color:black;
}
img {
	max-width:250px;
	margin:0 8px 0 0;
	border: 0 0 0 0;
}
iframe {
	border:0 0 0 0;
	border-width:0;
	overflow:clip;
	position:relative;
	display:inline-block;
	width:250px;
	margin:0 0 0 0;
}
p {
	position:relative;
	vertical-align:top;
	display:inline-block;
	font-size:12px;
	margin:0 16px 8px 0;
	color:black;
	height:auto;
}
a {
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
	color:white;
}
a:hover {
	text-decoration:underline;
}
.topbannerdiv {
	border-bottom:none;
	margin:0 0 0 0;
	padding:0 0 0 0;
	border:0 0 0 0;
	width:100%;
}
.topbanneritem {
	border-bottom:none;
	display:inline-block;
	vertical-align:middle;
	padding:8px 8px 8px 8px;
	color:#004080;
	margin:24px;
}
.linksbanner {
	border-bottom:none;
	margin:0 0 0 0;
	vertical-align:middle;
	background-color:rgba(0,64,128,.8);
	color:white;
	font-size:10px;
}
.linksbanneritem {
	vertical-align:top;
	display:inline-block;
	overflow:hidden;
	margin:24px;
}
.linksbannerimg {
	width:auto;
	height:24px;
	margin:2px 8px 2px 8px;
	display:inline-block;
	vertical-align:middle;
}
.linksbannerlink {
	font-size:16px;
	display:inline-block;
	vertical-align:middle;
	/*color:#d0d040;*/
	color:rgba(255,255,255,.8);
	margin: 2px 8px 2px 8px;
}
.maindiv {
	width:100%;
}
.sitesdiv {
	width:100%;
	height:10%;
	color:white;
	border-bottom:none;
	overflow:clip;
	background-color:rgba(0,64,128,.8);
}
.sitesitem {
	vertical-align:top;
	display:inline-block;
	margin:24px;
}
.sitesheadline {
	font-size:24px;
	text-decoration:none;
	/*color:#808020;*/
	/*color:rgb(0,48,96);*/
	color:rgba(255,255,255,0.7);
	/*background-color:rgba(255,255,255,.1);
	border-bottom:solid rgb(0,48,96) 2px;*/
}
.breakbanner {
	font-size:24px;
	/*text-decoration:none;*/
	/*background-color:rgba(255,255,255,0.2);*/
	color:rgba(0,48,96,0.7);
	/*color:rgba(255,255,255,0.8);*/
	padding:8px;
	margin:0 32px 0 32px;
}
.content {
	display:inline-block;
	max-width:250px;
	border-bottom:none;
	vertical-align:middle;
	padding: 0px;
	margin: 32px;
	overflow:clip;
	background-color:rgba(0,0,0,.25);
}
.content p {
	margin:8px;
	color:white;
}


