div {
	margin:0 0 0 0;
	padding:0 0 0 0;
	border:0;
	left:0px;
	overflow:auto;
	font-family:sans-serif;
}
body {
	margin:0 0 0 0;
	padding:0 0 0 0;
	border:0;
}
img {
	width:200px;
	margin:0 0 0 16px;
}
iframe {
	position:relative;
	display:inline-block;
	height:200px;
	width:400px;
	margin:0 8px 0 16px;
}
p {
	position:relative;
	vertical-align:top;
	display:inline-block;
	font-size:14px;
	margin:0 16px 16px 16px;
	color:black;
	height:auto;
}
a {
	font-weight:bold;
	text-decoration:none;
	font-size:20px;
	color:#004080;
}
a:hover {
	text-decoration:underline;
}
.banner {
	margin:0 0 0 0;
	height:100px;
	display:flex;
	align-items: center;
	justify-content:space-between;
	background-image: url("pics/field-background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow:hidden;
}
.banneritem {
	width:auto;
	position:relative;
	margin:0 40px 0 40px;
}
.linksbanner {
	margin:0 0 0 0;
	vertical-align:middle;
	background-color:#004080;
	color:white;
	font-size:10px;
}
.linksbanneritem {
	width:auto;
	display:inline-block;
	overflow:hidden;
	margin:4px 24px 4px 24px;
}
.linksbannerimg {
	width:auto;
	height:24px;
	margin:2px 8px 2px 8px;
	display:inline-block;
	vertical-align:middle;
}
.linksbannerlink {
	font-size:16px;
	display:inline-block;
	vertical-align:middle;
	color:gray;
	margin: 2px 8px 2px 8px;
}
.content {
	margin:0 0 0 0;
	padding:8px 0 0 0;
	width:100%;
	vertical-align:middle;
	background-color:#f8fbff;
}

